.detail-container {
    max-width: 900px;
    margin: 50px auto;
    display: flex;
    min-height: 500px;
}

.poster {
    width: 50%;
    height: auto;
    background-size: cover;
    flex: none
}

.right {
    width: 50%;
    margin-left: 40px;
}

.genre-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.genre-list li {
    color: #fff;
    background: #dc3545;
    font-size: 18px;
    border-radius: 30px;
    padding: 6px 12px;
    margin-right: 25px;
}

.title {
    font-size: 72px;
    margin-top: 30px;
    line-height: 85px;
}

.overview {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 20px 0;
    margin: 30px 0 0;
    font-size: 16px;
    line-height: 24px;
}

.info-list {
    padding: 30px 0;
    margin: 0;
    list-style-type: none;
    border-bottom: 1px solid #fff;
    font-size: 14px;
}

.info-list li+li {
    margin-top: 10px;
}

.info-list .label {
    color: #fff;
    background: #dc3545;
    border-radius: 30px;
    padding: 2px 0;
    margin-right: 20px;
    width: 120px;
    display: inline-block;
    text-align: center;
    margin-right: 15px;
}