.pagination-container {
    margin-top: 40px;
}

.page-item+.page-item {
    margin-left: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination-container .page-link {
    border-radius: 50%;
    min-width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding: 0 5px;
    background: rgb(255, 65, 48);
    background: linear-gradient(54deg, rgba(255, 65, 48, 1) 3%, rgba(255, 34, 0, 1) 59%, rgba(84, 19, 19, 1) 84%);
    border: 0;
    color: #222;
    font-size: 22px;
    font-weight: bold;
}

.page-item.disabled {
    display: none;
}

.pagination-container .page-item:first-child .page-link,
.pagination-container .page-item:last-child .page-link {
    border-radius: 50%;
    background: rgb(255, 192, 48);
    color: #222;
    background: linear-gradient(54deg, rgba(255, 192, 48, 1) 3%, rgba(255, 255, 255, 1) 100%);
}

.pagination-container .page-item.active .page-link {
    background: rgb(255, 192, 48);
    color: #222;
    background: linear-gradient(54deg, rgba(255, 192, 48, 1) 3%, rgba(255, 255, 255, 1) 100%);
}